# Secret
.env
*.env
*.env.local

# Python (Backend)
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Node / React (Frontend)
node_modules/
dist/
dist-ssr/
*.log

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
